<!doctype html>
<html>
<head>
<title>GURPS Dungeon Fantasy Treasure Generator Service</title>
</head><body>
<p>
<h2>GURPS Dungeon Fantasy Treasure Generation Service {{service_version}}</h2>
</p><p>
A service implementation for the 
<a href="https://github.com/brian-thomas/df-treasure-generator">GURPS Dungeon Fantasy Treasure Generator project</a>.
</p><p>
<h3>Service API</h3>
<p>
This service contains a couple of endpoints which include:
<ul>
  <li><b><i>/{{ service_version }}/generate/</i></b> : generates one random item </li> 
  <li><b><i>/{{ service_version }}/generate/&lt;number&gt;/</i></b> : generates &lt;number&gt; random items </li> 
  <li><b><i>/{{ service_version }}/generate/&lt;number&gt;/&lt;type&gt;/</i></b> : generates &lt;number&gt; random items of type &lt;type&gt;</li> 
</ul>
</p><p>
For example, invoking:
</p><p>
<b>
<pre>https://{{ service_url }}/{{ service_version }}/generate/10/</pre>
</b>
</p><p>
will generate 10 random items. Invoking:
</p><p>
<b>
<pre>https://{{ service_url }}/{{ service_version }}/generate/11/Containers/</pre>
</b>
</p><p>
will generate 11 random items of type &quot;Containers&quot;. 
</p><p>
The data are returned as a list of items.
</p><p>
<h3>Treasure Types</h3>
</p><p>
Treasure types currently implemented and understood by the generator include
the following :
</p><p>
<ul>
 {% for ttype in ttypes %}
  <li>{{ ttype }}</li>
 {% endfor %}
</ul>
</p><p>
{{ usage }}
</p>
</body></html>
