<!doctype html>
<html>
<head>
<title>GURPS Dungeon Fantasy Treasure Generator Service</title>
</head><body>
<p>
<h2>GURPS Dungeon Fantasy Treasure Generation Service {{service_version}}</h2>
</p><p>
A service implementation game aid to help GURPS players easily create a variety
of treasure per GURPS Dungeon Fantasy Treasure supplement. 
</p><p>
<h3>Service API</h3>
<p>
This service contains a couple of endpoints which include:
<ul>
  <li><b><i><a href="/{{ service_version }}/generate/">/{{ service_version }}/generate/</a></i></b> : generates one random item </li> 
  <li><b><i><a href="/{{ service_version }}/generate/2/">/{{ service_version }}/generate/&lt;number&gt;/</a></i></b> : generates &lt;number&gt; random items </li> 
  <li><b><i><a href="/{{ service_version }}/generate/2/Armor/">/{{ service_version }}/generate/&lt;number&gt;/&lt;type&gt;/</a></i></b> : generates &lt;number&gt; random items of type &lt;type&gt;</li> 
</ul>
</p><p>
For example, invoking:
</p><p>
<b>
<pre>https://{{ service_url }}/{{ service_version }}/generate/10/</pre>
</b>
</p><p>
will generate 10 random items. Invoking:
</p><p>
<b>
<pre>https://{{ service_url }}/{{ service_version }}/generate/11/Containers/</pre>
</b>
</p><p>
will generate 11 random items of type &quot;Containers&quot;. 
</p><p>
The data are returned as a list of items.
</p><p>
<h3>Treasure Types</h3>
</p><p>
Treasure types currently implemented and understood by the generator include
the following :
</p><p>
<ul>
 {% for ttype in ttypes %}
  <li>{{ ttype }}</li>
 {% endfor %}
</ul>
</p><p>
{{ usage }}
</p><p>
<h3>Notice</h3>
</p><p>
Dungeon Fantasy Treasure Tables and GURPS are a trademark of Steve Jackson Games, and its rules and art are copyrighted by Steve Jackson Games. All rights are reserved by Steve Jackson Games. This game aid is the original creation of Brian Thomas and is released for free distribution, and not for resale, under the permissions granted in the <a href="http://www.sjgames.com/general/online_policy.html">Steve Jackson Games Online Policy</a>.
</p>
</body></html>
