<!doctype html>
<html>
<head>
<title>Test page</title>
<script src="https://code.jquery.com/jquery-1.11.3.js"></script>
<script>
function doit() {
  var url = "http://{{ service_url }}/v1/generate/2/All";

  $.ajax({
    type: "GET",
    url: url,
    contentType: "application/json",
    success: function(result) {
      console.log(result);
      $("#returnData").text(JSON.stringify(result, undefined, 2));
    }
  });  
}

</script>
</head><body>
<p>
<h3>Example Client</h3>
</p><p>
<label>Click to get some data</label><br/>
  <button onclick="doit();">Run Service</button>
  <h4>Return Data</h4>
  <pre id="returnData"></pre>
</p>

</body></html>
