Flask==0.10.1
Flask-Cors==2.1.2
gunicorn==19.3.0
Jinja2==2.8
Werkzeug==0.10.4
git+https://1be2f3796dee88685fede82f0c2d4d55cfdefcf0:x-oauth-basic@github.com/brian-thomas/df-treasure-generator.git@master
