Flask==0.10.1
Flask-Cors==2.1.2
gunicorn==19.4.5
Jinja2==2.8
Werkzeug==0.11.3
git+https://2c2eb39f5a583e6e27623748942fd1eb0361bd28:x-oauth-basic@github.com/brian-thomas/df-treasure-generator.git@master
